<!-- import the Book class model -->
@model Book;
<!-- Title (on tab) -->
@{
	ViewData["Title"] = "Book Details";
}

<div class="container">
	<!-- Title (on page) -->
	<h1 class="pageTitle">Details</h1>

	<table class="table table-dark">
		<tr hidden>
			<th hidden>Id</th>
			<td hidden>@Model.Id</td>
		</tr>
		<tr>
			<th>Title</th>
			<td class="table table-light">@Model.Title</td>
		</tr>
		<tr>
			<th>Author</th>
			<td class="table table-light">@Model.Author</td>
		</tr>
		<tr>
			<th>Genre</th>
			<td class="table table-light">@Model.Genre?.Name</td>
		</tr>
		<tr>
			<th>Year</th>
			<td class="table table-light">@Model.Year</td>
		</tr>
		<tr>
			<th>Is it Available?</th>
			@if (Model.IsAvailable)
			{
				<td class="table table-light">Yes</td>
			}
			else
			{
				<td class="table table-light">No</td>
			}
		</tr>
	</table>
</div>
